/* ********************** */
/* BELOW 768px (Tablets)*/
/* ********************** */

@media (max-width: 48em) {
  html {
    font-size: 56.25%;
  }

  .header {
    width: 52rem;
  }

  .logo {
    width: 13rem;
  }

  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 3rem;
  }
}

/* ********************** */
/* BELOW 575px (Mobile phones)*/
/* ********************** */

@media (max-width: 36em) {
  html {
    font-size: 50%;
  }
}

/* ********************** */
/* BELOW 475px (Mobile phones)*/
/* ********************** */

@media (max-width: 30em) {
  .header {
    width: 43rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  .logo {
    width: 12rem;
  }

  .main {
    width: 40rem;
  }

  h4 {
    font-size: 2rem;
  }

  .btn,
  .btn-option {
    font-size: 1.8rem;
  }
}
